<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="jumbotron body-top">

    <%- include('../partials/generalkeyboard'); %>
    
    <div class="container" style="margin-top: 1em;" id="judge-result"> </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<script type="text/javascript" src="../../src/pb.js"></script>

</body>
</html>